{% set map = salt['grains.filter_by']({
    'RedHat': {
        'server': 'elasticsearch',
        'service': 'elasticsearch',
        'conf': '/etc/elasticsearch/elasticsearch.yml',
        'repo_dir': '/etc/yum.repos.d',
        'repo_file': 'elasticsearch.repo',
        'kibana_file': 'kibana.repo',
        'kibana_app': 'kibana',
        'kibana_config': 'kibana.yml',
        'kibana_dir': '/opt/kibana/config',
        'proxy': 'nginx',
        'tools': 'httpd-tools',
        'utils': 'unzip',
        'nginx_kibana_conf': 'kibana.conf',
        'nginx_dir': '/etc/nginx/conf.d',
        'nginx_main_dir': '/etc/nginx',
        'nginx_main_conf': 'nginx.conf',
        'htpasswd': 'htpasswd.users',
        'htpasswd_dir': '/etc/nginx',
        'logstash_app': 'logstash',
        'logstash_repo_file': 'logstash.repo',
        'logstash_dir': '/etc/logstash/conf.d',
        'syslog_filter': '10-syslog-filter.conf',
        'cert': 'openssl.cnf',
        'cert_dir': '/etc/pki/tls',
        'beats_dir': '/etc/logstash/conf.d',
        'beats_config': '02-beats-input.conf',
        'elastic_out_conf': '30-elasticsearch-output.conf',
        'elastic_out_dir': '/etc/logstash/conf.d',
        'limits_dir': '/etc/security',
        'limits_conf': 'limits.conf',
        'firewall_dir': '/usr/lib/firewalld/services',
        'firewall_conf': 'elasticsearch.xml'
    },
}, merge=salt['pillar.get']('elasticsearch:lookup')) %}
